@import "../StepsCommonStyle.module";

.step1__heading {
  margin-top: 33px;
}

.step1__recipient_label {
  margin: 20px 0.5px 0;
}

.step1__FIO_input {
  @include inputMargin(6px, 0.5px, 0.5px);
}

.step1__address_label {
  margin: 30px 0.5px 0;
}

.step1__city_input {
  @include inputMargin(6px, 0.5px, 0.5px);
}

.step1__address_input {

  @include inputMargin(10px, 0.5px, 0.5px);
}

.step1__countryAndZipBox {
  margin-top: 10px;
  display: flex;
}

.step1__zip {
  margin-right: 0.5px;

  input {
    width: 120px;
  }
}

.step1__country {
  width: 180px;
  margin-left: 0.5px;
  margin-right: 20px;
}

.step1__button {
  margin-top: 30px;
}