/*
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0 0 10px #EBF0FF;
}
*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #EBF0FF;
  box-shadow: 0 0 10px #EBF0FF;
  min-height: 104px;
}

.header__inscription_margin {
  margin: 30px 0 29px 24px;
}

.header__inscription {
}

.header__inscriptionText {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
  color: black;
}

.header__logoBox {
}

.header__logoBox_margin {
  margin: 23px 24px 22px 0;
}

.header__logo {
  width: 55px;
  height: 55px;
}


@media screen and (max-width: 380px) {
  .header__inscriptionText {
    font-size: 14px;
  }
}
